.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.creative,
.admin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #ffffff; /* Adjust color as needed */
}

.creative {
  left: 10px; /* Adjust position as needed */
}

.admin {
  right: 10px; /* Adjust position as needed */
}


